// @import "~bootstrap/scss/bootstrap";


// SasS Kintamasis
// Kintamojo aprasymas
$body-color: red;


body {
  // Kintamojo panaudojimas
  background: $body-color;
  min-height: 100vh;
}


div {
  box-sizing: border-box;
}
